@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400;
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 600;
}

/*header */
.home-bg-image {
  background-image: url("../image/zee-landing.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100vh;
}

.header-text-box {
  position: absolute;
  font-size: 2rem;
  left: 44%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.header-main-1,
.header-main-2 {
  display: inline-block;
  color: #fff;
  width: 50rem;
}

.header-main-1 {
  font-weight: 900;
  line-height: 1.2;
  font-size: 3rem;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

.header-main-2 {
  font-size: 1.7rem;
  word-spacing: 3px;
  margin-bottom: 2rem;
}
.header-menu {
  padding-top: 5rem;
  width: 88rem !important;
  position: relative;
  margin: 0 !important;
}

.menu-item {
  margin: 0 auto !important;
  margin-top: -4px !important;
}
.open {
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 100;
  left: 0;
  background: #000;
  width: 62vw;
  max-width: 300px;
  height: 100vh;
  transition: all 0.5s ease-in-out;
  transition: all 0s ease-in-out;
}
.close {
  display: none;
  transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu-item .item:not(:last-child) {
  margin: 0 1.2rem !important;
  font-size: 1.5rem;
  color: #fff;
}

.menu-item .item:last-child {
  font-size: 1.5rem;
  color: white;
}
.menu-item-form .item {
  margin: 0 !important;
}
.menu-logo {
  width: 22rem;
  padding-left: 1rem;
}
.learn-more {
  color: #fff;
  font-size: 1.5rem;
}
.learn-more-word:hover .arrow-home {
  color: #f1c40f;
}
.learn-more .learn-more-word {
  border-bottom: 1px #fff solid;
  margin-right: 2rem;
}

/* Recently Project */
.recently-container {
  padding: 12vh 0 12vh 0;
  width: 100vw;
  background-color: #fff;
}
.recently-header {
  margin-bottom: 10vh;
  font-size: 3rem;
}
.recently-header div {
  word-spacing: 0.5rem;
  color: #545252 !important;
}
.hoverlink {
  color: #ffffff !important;
}
.hoverlink:hover {
  color: #f1c40f !important;
}
.card-style {
  box-shadow: none !important;

  overflow: hidden;
}
.card-container {
  margin: 0 !important;
}
.card-image-background {
  background-image: "../image/blurb-default.jpg";
  background-color: lightgrey;
  background-image: url("../image/bg-cont.jpg");
  height: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.description-style {
  padding: 4rem 0;
  font-size: 1.5rem;
}
.description-sub {
  line-height: 1.7;
}
/* slide show. */
.btn-mv-right {
  position: absolute;
  top: 50%;
  right: 5%;
  cursor: pointer;
}
.btn-mv-left {
  position: absolute;
  top: 50%;
  left: 5%;
  cursor: pointer;
  z-index: 1;
}
.slide-container {
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  display: none;
}
.slide-content-description {
  font-size: 1.6rem;
}
.slide-content-header {
  font-size: 4rem !important;
}
.slide-content-label {
  border-radius: 50%;
  width: 40px;
  background: rgba(5, 146, 146, 0.938);
  height: 40px;
  color: #fff !important;
  padding-top: 5px !important;
}
.ui.secondary.menu .active.item {
  color: #fbf508 !important;
}
.slide-content-box {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-30%, 0%);
}
.slide-content-container {
  margin: auto 0 !important;
}

.slide-content {
  width: 100%;
  /* min-height: 70vh; */
  background-image: url("../image/bg-cont.jpg");
  background-size: cover;
  background-position: center;
}

/* invest */
.description button {
  color: black;
  background-color: #3498db !important;
}
.invest-container {
  box-sizing: border-box;
  background-image: url("../image/zee-header-banner.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  background-repeat: no-repeat;
  z-index: 1;
}
.invest-header {
  padding: 5rem 0;
}
.invest-text-container {
  background: rgba(1, 31, 47, 0.8);
}
.invest-sub-container {
  width: 85rem !important;
}
.invest-icons {
  font-size: 1rem !important;
}
.invest-image {
  margin: auto !important;
  width: 150px !important;
}
.invset-col-style div p {
  font-size: 4rem !important;
}
.invest-main-header {
  color: #3498db !important;
}
.invest-main-header {
  letter-spacing: 1px;
  font-size: 3rem !important;
}
.invest-column-left {
  margin: auto 0;
}
.invest-column-left div.column:last-of-type {
  margin: auto 0;
}
.invest-text-container div.ui.stackable.grid:first-child {
  padding: 2rem 0 !important;
}
.grid-panel-bottom {
  padding: 2rem !important;
}
.grid-panel-bottom > * {
  text-align: center !important;
  margin: auto !important;
}
.text-invest-panel {
  color: #fff;
  margin-right: 1rem;
}
.ui.text-con-style {
  margin: 0 !important;
}
.text-blue {
  color: #3498db !important;
}
.text-white {
  color: #fff !important;
}
.text-rm-mt {
  margin-top: 0 !important;
  letter-spacing: 1px;
}
.text-grey {
  color: #95a5a6 !important;
}
.about-project {
  padding: 0 4vh 0;
}
.about-project-header {
  padding: 10vh 0 0 0 !important;
}
.about-project div:last-child div:first-child {
  margin: auto 0 !important;
}
/* footer */
.footer-container {
  text-align: center;
  background: #ece7e7;
  width: 100%;
  padding: 10vh 0;
}
.footer-logo img {
  width: 22rem;
}
.footer-inner-container > * {
  margin: 2rem 0;
}
.footer-icons i {
  border: 1px solid #485865;
  color: #485865;
}
.footer-icons a {
  margin: 0 0.5rem;
}
.footer-text {
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: grey;
}
/* sidebar menu */
.ui.visible.left.overlay.sidebar {
  position: fixed;
  top: 0;
  width: 60% !important;
  background-color: #063e63;
}

/* .ui.visible.left.overlay.sidebar.hide {
  visibility: hidden;
} */
.phone-background-navbar {
  background-color: #272727a6;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
}

.ui.visible.left.overlay.sidebar.slideIn {
  animation-name: slideIn;
  transition: all 0.2s;
  transition: all 0.2s;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  background-color: (0, 0, 0, 0.2);
}
@keyframes slideIn {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.ui.visible.left.overlay.sidebar.slideOut {
  animation-name: slideOut;
  animation-duration: 0.2s;
  visibility: hidden;
  transition: all 0.2s;
}

@keyframes slideOut {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
}

.ui.visible.left.overlay.sidebar.show {
  visibility: visible;
}
.navbar-menu {
  padding: 3rem 0;
  display: none;
}

/*about page*/

.background-header {
  background-image: url("../image/zee-header-banner-2.jpg");
  min-height: 100vh;
  background-size: left;
}

hr {
  display: block;
  margin-top: 0.3em;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 0.3px;
  color: grey;
}

.color-about-p {
  color: lightgray;
  font-size: 1.5rem;
}
.about-column-main {
  padding: 15% 0 !important;
  font-size: 16px;
}
.h1-ABOUT {
  color: darkgray;
  font-size: 4.5rem;
  line-height: 4.3rem;
}

.background-under-header {
  background-image: url("../image/network-nest.png");
  /* background-size: 100% 100%, contain; */
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0px;
  margin: 30px;
}
.aboutPageContainer {
  width: 70% !important;
  margin: 0px auto;
}
.about-column-style p {
  font-size: 16px;
}
.about-misson {
  line-height: 7rem;
  font-size: 3rem;
}
.about-mr-style {
  margin: 20px 0;
}
.columnLeft {
  text-align: right !important;
}
.columnRight {
  text-align: left !important;
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #a1a2a280;
  position: relative;
  top: -10px;
}
.circleRight {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #a1a2a280;
  position: relative;
  top: -10px;
  float: right;
}

.about-p {
  font-size: 1.5rem;
  margin-top: -13px !important;
}

.about-misson-1 {
  line-height: 35rem;
  font-size: 3rem;
}

.background-under-header-1 {
  background-image: url("../image/bg-contt.jpg");
  min-height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* margin-top: -8rem; */
}

.memberTitle {
  margin-bottom: 8px !important;
  text-align: center;
  font-size: 4rem;
  color: lightgray;
}
.member-container {
  padding: 10vh 0 5vh 0;
}
.member-column-style {
  padding: 2rem 0;
}
.memberTitle {
  padding: 0 0 5vh 0;
}
.memberName {
  color: rgba(0, 0, 0, 0.87);
  font-size: 18px;
}
.memberPosition {
  color: rgb(158, 158, 158);
  font-size: 18px;
}

.ui.small.circular.image.image-style {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/*raisefund*/
.background-rais {
  background-image: url("../image/zee-header-banner.jpg");
  height: 100vh;
  overflow: hidden;
}
.a-submit {
  font-size: 2rem;
}

.ui.center.aligned.header.h1-color-rais {
  font-size: 4rem;
  color: deepskyblue;
  margin-top: 15rem;
}

.p-color-rais {
  font-size: 1.8rem;
  color: white;
}

.p-color-rais1 {
  font-size: 1.8rem;
  color: white;
  margin-top: -2rem;
}

.ui.center.aligned.container.margain-p {
  margin-top: 3rem;
  padding: 2rem;
}

.margin-p1 {
  margin-top: 2rem;
}

.ui.center.aligned.container.margin-top-2 {
  margin-top: 3rem;
}

.margin-p1 {
  font-size: 2.1rem;
  color: wheat;
}

.ui.header.center.aligned.h1-apply {
  margin-top: 3rem;
  font-size: 3rem;
  color: #485460;
}

.h2-style {
  padding: 1rem;
  color: #2185d0;
  cursor: pointer;
  /* border-bottom: 1px solid darkgray; */
}
.p-style-accordion {
  margin-left: 10px;
  font-size: 12px;
  color: #485460;
}
.ui.text.aligned.container.padding-container-rasifund {
  padding: 3rem;
}

/*blog*/
.blog-background-header {
  background-image: url("../image/zee-header-banner-2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
}
.blog {
  text-align: center;
  font-size: 7rem;
  color: aliceblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.index-background h4 {
  font-size: 16px !important;
  color: cadetblue;
}
.index-description p {
  color: grey;
}
.backgroundEvent {
  /* background-color: #e4e4e4; */
  /* padding: 0px 10px 10px 10px !important; */
  padding: 0px 15px 20px 15px !important;
  color: #fff !important;
  border-radius: 0px 0px 5px 5px;
}
.backgroundEvent h3 {
  color: #063e63;
  padding-top: 20px;
}
.backgroundEvent p {
  color: #616161;
}

figure img {
  width: 100%;
  display: none;
}
.content h3 {
  font-size: 20px;
  text-align: center;
}
.content p {
  font-size: 16px;
  padding: 0 5vh;
}

.badge {
  background-color: #063e63;
  display: inline-block;
  padding: 0px 10px;
  border-radius: 4px;
  color: #fff !important;
  font-size: 13px !important;
}
.shadowEvent {
  box-shadow: 0 0 40px 0 rgba(197, 197, 197, 0.85);
  border-radius: 5px;
  transition: 0.3s;
  /* height: 24vw; */
  cursor: pointer;
}
.ui.container.margin-bottom {
  margin-top: 2%;
  /* max-width: 70% !important; */
}
/*buuton*/
.ui.button.btn {
  border-radius: 2rem;
  background-color: #063e63;
  color: white;
  width: 15rem;
  font-size: 1.1rem;
}
/* @media query */
@media screen and (max-width: 1024px) {
  html {
    font-size: 50%;
  }
  .footer-text {
    font-size: 16px;
  }
  .about-project-header {
    padding: 4vh 0 0 4vh !important;
  }
  .about-project {
    padding: 4vh 0 !important;
  }
  .slide-container {
    border-radius: 1rem;
    overflow: hidden !important;
  }
  .header-text-box {
    left: 51%;
    top: 30%;
  }
  .home-bg-image {
    height: 70vh;
  }
  .header-main-2 {
    font-size: 2rem;
  }
  .learn-more-word {
    font-size: 16px;
  }
  .invest-container {
    min-height: 50vh !important;
  }
  .learn-more:hover {
    color: #f1c40f !important;
  }
}
@media screen and (max-width: 1023px) {
  .header-text-box {
    top: 40%;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 30%;
  }
  .imageSlide {
    width: 50% !important;
  }
  .card-image-background {
    border-radius: 10px !important;
  }
  .about-column-style p {
    font-size: 16px !important;
    padding: 0 2vh;
  }
  .footer-icons {
    font-size: 10px !important;
  }
  .aboutPageContainer {
    width: 100% !important;
    margin: 0px auto;
  }
  .background-rais {
    height: 50vh !important;
  }
  .h1-color-rais {
    margin: 0 !important;
  }
  .h1-apply {
    font-size: 5rem !important;
  }
  .h2-style {
    font-size: 16px;
  }
  .p-color-rais {
    font-size: 10px !important;
  }
  .margin-p {
    font-size: 16px !important;
  }
  .columnLeft,
  .columnRight {
    text-align: center !important;
  }
  .columnLeft h2 {
    font-size: 16px;
  }
  .columnRight h2 {
    font-size: 16px;
  }
  .circle,
  .circleRight {
    display: none;
  }
  .content p {
    padding: 0 2vh !important;
  }
  .description-sub {
    font-size: 16px;
    font-weight: 400;
  }
  .blog-background-header {
    height: 50vh !important;
  }
  .sidebar-style a {
    font-size: 16px;
  }
  .slide-content-label {
    padding-top: 13px !important;
  }
  .blog {
    top: 25%;
  }
  .description-style-header,
  .header-update {
    font-size: 3rem !important;
  }
  .home-bg-image {
    height: 50vh;
  }
  .header-text-box {
    top: 28%;
  }
  .header-menu {
    display: none !important;
  }
  .header-update {
    font-size: 5rem;
  }
  .card-style {
    margin: 0 auto !important;
    height: auto;
  }
  .recently-container {
    padding-top: 4vh;
  }
  .recently-header {
    margin-bottom: 4vh;
  }
  .sidebar-style {
    font-size: 2.5rem !important;
  }
  .toggleicon {
    margin-top: -6px;
    width: 20px;
  }
  .btn-mv-right,
  .btn-mv-left {
    display: none;
  }
  .header-main-1 {
    font-size: 17px !important;
  }
  .header-main-2 {
    font-size: 16px;
    font-weight: 400;
  }
  .navbar-menu {
    display: block;
    padding: 40px 0;
  }
  .header-text-box {
    left: 50%;
  }
  .slide-content {
    height: 85vw !important;
    padding: 30px 0px;
  }
  .slide-content-box {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-30%, 0%);
  }
  .slide-content-description {
    font-size: 3rem !important;
    padding: 0 !important;
  }
  .text-grey {
    font-size: 16px !important;
  }
  .invest-main-header {
    font-size: 20px !important;
  }
  .invest-icons {
    font-size: 10px !important;
  }
  .description button {
    font-size: 16px !important;
  }
}
@media screen and (min-width: 600px) and (max-width: 766px) {
  .header-text-box {
    left: 35% !important;
  }
}
@media screen and (max-width: 600px) {
  .header-text-box {
    left: 36% !important;
  }
  .header-main-1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 414px) {
  .header-text-box {
    left: 35% !important;
  }
}
@media screen and (max-width: 375px) {
  .header-text-box {
    left: 45% !important;
  }
}

@media screen and (max-width: 320px) {
  .home-bg-image div.header-text-box {
    left: 52% !important;
  }
}
/* @media screen and(max-width: 360px) {
  .home-bg-image {
    height: 50vh !important;
  }
} */
